.code-container {
    margin-top: 20px;
}
.code-container button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}
.code-container button:hover {
    background-color: #0056b3;
}
.code-example {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    position: relative;
}
.code-example pre {
    margin: 0;
    font-family: monospace;
}
.code-example.expanded {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
}
.code-example.collapsed {
    max-height: 100px;
    overflow: hidden;
}
.keyword {
    color: #3281c2; 
    font-weight: bold; 
}

.tag {
    color: #0f5494; 
}

.attribute {
    color: #60a0dd;
}
.value {
    color: #da792a; 
}
