/* Global Styles */
body {
    background-color: #f4f4f4;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.paper {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px; /* Giới hạn kích thước tối đa */
    height: auto; /* Để chiều cao tự động điều chỉnh */
    overflow-y: auto; /* Cuộn dọc nếu cần */
    position: relative;
    font-size: 18px;
    line-height: 1.6;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin-top: 0;
}

.code-container {
    margin-bottom: 20px; /* Thêm khoảng cách giữa các ví dụ */
}

/* CSS cho màu sắc code giống VS Code */
.code-example {
    background-color: #1e1e1e; /* Màu nền tối */
    color: #636060; /* Màu chữ mặc định */
    padding: 10px;
    border-radius: 5px;
    overflow: auto; /* Để không có thanh cuộn ngang */
    font-family: 'Courier New', Courier, monospace; /* Font chữ monospace */
}

.keyword {
    color: #3281c2; /* Màu xanh cho từ khóa */
    font-weight: bold; /* Đậm hơn cho từ khóa */
}

.tag {
    color: #116ec5; /* Màu cam cho thẻ */
}

.attribute {
    color: #60a0dd; /* Màu tím cho thuộc tính */
}

.value {
    color: #d38c51; /* Màu xanh lá cho giá trị */
}

.toggle-code, .edit-code {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007acc; /* Màu nền cho nút */
    color: white; /* Màu chữ cho nút */
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.toggle-code:hover, .edit-code:hover {
    background-color: #005a9e; /* Màu nền khi hover */
}
.btn-next {
    color: #005a9e;
}
/* Responsive Styles */
@media (max-width: 600px) {
    .paper {
        width: 85%; /* Mở rộng chiều rộng cho màn hình nhỏ */
        padding: 15px; /* Giảm padding */
    }

    h1 {
        font-size: 20px; /* Giảm kích thước tiêu đề */
    }

    .btn-next {
        padding: 8px 16px; /* Giảm padding cho nút */
    }

    .code-example {
        font-size: 14px; /* Giảm kích thước font trong code */
    }
}
